.footer {
    color: black;
    font-style: italic;
    text-align: center;
    padding: 2px;
}

.githubfootlink {
    color: royalblue;
}

.githubfootlink:hover {
    cursor: pointer;
    color: blueviolet;
}