html {
  font-size: 62%;
}

body {
  margin: 0;
  font-family: 300 11px/1.4; 
  overflow: hidden;
  display: block;
  background-color: rgb(201, 255, 237);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
